<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shop Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="/_header"/>
   </head>
   <body>
      
      <th:block th:include="/_menu"/>
      <div class="page-title">账户</div>
      <div class="account-container">
         <ul>
            <li>用户名: <span th:utext="${#request.userPrincipal.name}"></span></li>
            <li>
               角色:
               <ul>
                  <li th:each="auth : ${userDetails.authorities}" th:utext="${auth.authority}"></li>
               </ul>
            </li>
         </ul>
      </div>
       
      <th:block th:include="/_footer"/>
       
   </body>
</html>