<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Shop Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <th:block th:include="/_header"/>
</head>
<style>

</style>
<body>

<th:block th:include="/_menu"/>


<div class="container cart_bag">
    <th:block th:if="${myCart == null || myCart.cartItems == null || myCart.cartItems.isEmpty()}">
        <h2>购物袋里没有衣物哦~</h2>
        <a th:href="@{/productList}">返回去选购</a>
    </th:block>
    <th:block th:unless="${myCart == null || myCart.cartItems == null || myCart.cartItems.isEmpty()}">
        <h2 style="font-weight: bold;">购物袋</h2>
    </th:block>
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12">
            <table class="table">
                <th:block th:if="${myCart != null && myCart.cartItems != null && !myCart.cartItems.isEmpty()}">
                    <div class="product-preview-container"
                         th:each="cartItem, varStatus : ${myCart.cartItems}">
                        <tr>
                            <td><img th:src="${cartItem.productInfo.image}"
                                     width="190px"></td>
                            <td>
                                <b style="color: #000;font-size:16px; font-weight: 600"
                                   th:utext="${cartItem.productInfo.name}"></b>
                                <p style="font-size: 14px;">
                                    简介: <span th:utext="${cartItem.productInfo.description}"></span><br>
                                    规格: <span th:utext="${cartItem.productInfo.code}"></span><br>
                                    单价: <span th:utext="${cartItem.productInfo.price}"></span>
                                </p>
                                <!--                                    <input-->
                                <!--                                           th:name="|cartLines[${varStatus.index}].productInfo.code|"-->
                                <!--                                           th:value="${cartLineInfo.productInfo.code}"/>-->
                                <a th:href="@{|/shoppingCartRemoveProduct?code=${cartItem.productInfo.code}|}"
                                   style="margin-right: 10px;">移除</a>
                            </td>
                            <td>
                                <a th:href="@{|/buyProduct?code=${cartItem.productInfo.code}&quantity=-1|}"
                                   class="item-a"> - </a>
                                <input type="text"
                                       th:value="${cartItem.quantity}"
                                       class="form-control"
                                       style="width: 40px; height: 30px; float: left">
                                <a th:href="@{|/buyProduct?code=${cartItem.productInfo.code}&quantity=1|}"
                                   class="item-a"> + </a>
                            </td>
                            <td>$<span th:utext="${cartItem.amount}"></span></td>
                        </tr>
                    </div>

                    <tr>
                        <td colspan="7" align="right">
                            <!--                                <input class="btn btn-dark" type="submit" value="更改数量"/>-->
                            <a th:href="@{/productList}" style="margin-left: 20px;">继续选购</a>
                            <!--                                <a th:href="@{/shoppingCartCustomer}">结算</a>-->

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
            </table>
        </div> <!-- -----col-lg-8 col-sm-8 col-xs-12 end --- -->
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <h5 style="font-weight: bold;">概要</h5>
            <table class="table cart-subtotal">
                <tr>
                    <td>
                        小计 <!--<i class="fas fa-question-circle"></i>--><br><br>
                        数量 <br><br>
                        物流费<br><br>
                        税
                    </td>
                    <td>
                        $<span th:utext="${myCart.amountTotal}"></span><br><br>
                        [<span th:utext="${myCart.quantityTotal}"></span> 件]<br><br>
                        免运费<br><br>
                        $0.0
                    </td>

                <tr>
                    <td><b>总计</b></td>
                    <td><b>$<span th:utext="${myCart.amountTotal}"></span></b></td>
                </tr>


            </table>

            <a th:href="@{/shoppingCartCustomer}" class="btn btn-dark btn-lg btn-block">结算 <span
                    class="fa fa-arrow-right" style="margin-left: 9px;"></span></a>

            <a href="https://www.paypal.com/webapps/hermes?token=EC-7N9771196T667744L"
               class="btn btn-outline-light btn-lg btn-block"><img
                    src="https://www.nike.com/assets/experience/pet/payment-icons/paypal@2x.png"></a>

            <br><br>
            <h5 style="font-weight: bold;">支持的付款方式</h5><br>
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/visa-master-amex-disc-pp-apple-affirm_tcm221-444412.png">


        </div>
    </div>
</div>


<!-- ------------------------------footer end---------------------------------- -->


<th:block th:include="/_footer"/>

</body>
</html>