<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Shop Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <th:block th:include="/_header"/>
</head>
<body>

<th:block th:include="/_menu"/>

<div class="page-title">交易完成</div>
<div class="container">
    <h3>Thank you for Order</h3>
    您的订单号是 : <span th:utext="${lastOrderedCart.orderNum}"></span>
</div>

<th:block th:include="/_footer"/>

</body>
</html>